body{
    margin:0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
p{
    margin:0.05em;
}
.sortowanie_form{
    display: block;
    align-content: center;
    text-align: center;
    align-items: center;
}
.header{
    text-align: center;
    color:black;
    font-size:100px;

}
.title_text{
    font-weight: bolder;
    display: block;
    margin-top: 20px;
    animation: pompa 15s infinite;
    text-align: center;
    color:black;
    font-size:100px;

}
.nawigacyjny{
    height: 35px;
    width: 100%;
    top:0;
    position: fixed;
    overflow: hidden;
    background-color: black;
}
.nawigacyjny a{
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny a:hover{
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    color:black;
    background-color: green;

}
.nawigacyjny p{
    float:left;
    margin-right: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny p:hover{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: white;

}
.nawigacyjny span{
    text-align: center;
    float: left;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    font-size:16px;
}
.subtitle_text{
    text-align: center;
    color:black;
    font-size:20px;

}
.wrapper{
    margin: 0 auto;
    max-width: 95%;
    padding-right: 16px;
    padding-left:  16px;
}
.movies {
    display: inline-block;
    float: left;
    border: 1px solid black;
    width: 200px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: lightcyan;
}
.movies form input{
    margin-top:-5px;
    margin-bottom: -5px;
}
.dodaj_do_koszyka_butt{
    font-family: Quicksand;
    height: 30px;
    background-color: green;
    border: none;
    padding: 6px 6px;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    border-radius: 8px;
    width: 180px ;
}
.dodaj_do_koszyka_butt:hover{
    background-color: darkgreen;
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
}
.szczegolybutt{
    font-family: Quicksand;
    background-color:blue;
    border: none;
    padding: 6px 6px;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    border-radius: 8px;
    width: 180px ;
}
.szczegolybutt:hover{
    background-color: darkblue;
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
}

@keyframes pompa{
    0% {color:limegreen;}
    10% {color:blue;}
    20% {color:blueviolet;}
    30% {color:yellow;}
    40% {color:cyan;}
    50% {color:green;}
    60% {color:royalblue;}
    70% {color: tomato;}
    80% {color:aquamarine;}
    90% {color:yellowgreen;}
    100% {color:teal;}}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}