body{
    background-color: lightcyan;
}
p{
    margin:0.05em;
}
.sortowanie_form{
    display: block;
    align-content: center;
    text-align: center;
    align-items: center;
}
.header{
    text-align: center;
    color:black;
    font-size:100px;
    background: lightcyan;
}
.title_text{
    animation: pompa 15s infinite;
    text-align: center;
    color:black;
    font-size:100px;
    background: lightcyan;
}
.subtitle_text{
    text-align: center;
    color:black;
    font-size:20px;
    background: lightcyan;
}
.wrapper{
    margin: 0px auto;
    width: 95%;
}
.movies{
    display: inline-block;
    float: left;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: lightblue;
}
.movies:hover{
    float:left;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: lightgreen;

}


@keyframes pompa{
    0% {color:limegreen;}
    10% {color:blue;}
    20% {color:blueviolet;}
    30% {color:yellow;}
    40% {color:cyan;}
    50% {color:green;}
    60% {color:royalblue;}
    70% {color: tomato;}
    80% {color:aquamarine;}
    90% {color:yellowgreen;}
    100% {color:teal;}}